{% block content %}

    <form action="/search/" method="get" class="form-horizontal" role="search">
        <div class="form-group-lg">
            <label class="sr-only" for="search">Search</label>
            <div class="col-md-6">
                <input id="search" type="text" class="form-control" placeholder="Search Frameworks, Tools, etc." />
            </div>
            <div class="input-group-lg">
                <button type="submit" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-search"></span> Submit
                </button>
            </div>
        </div>
    </form>

{% endblock %}